{{!-- ./views/books/create.hbs --}}


{{!-- <h2>Crear libro</h2> --}}

{{!-- APUNTA AL /POST DEL RUTEO --}}
{{!-- <form action="/books/create" method="post">
  <label> Title:
    <input type="text" name="title" />
  </label>

  <label> Author:
    <input type="text" name="author" />
  </label>

  <label> Description:
    <textarea name="description" cols="30" rows="4"> </textarea>
  </label>

  <label> Rate:
    <input type="number" name="rating" min="1" max="10" />
  </label>

  <button type="submit"> Create </button>
</form> --}}

{{!-- SECOND IDEA --}}

{{!-- <form action="/books/create" method="post">

  	<div>
			<label for="title" class="block text-sm font-medium text-gray-700">Title</label>
		<div class="mt-1">
			<input type="text" name="title" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Insert a title">
		</div>
	</div>
  	<div>
			<label for="author" class="block text-sm font-medium text-gray-700">Author</label>
		<div class="mt-1">
			<input type="text" name="author" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Insert an author">
		</div>
	</div>
  	<div>
			<label for="description" class="block text-sm font-medium text-gray-700">Description</label>
		<div class="mt-1">
			<input type="text" name="description" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Insert a description">
		</div>
	</div>
  	<div>
			<label for="rating" class="block text-sm font-medium text-gray-700">Rate</label>
		<div class="mt-1">
			<input type="text" name="rating" class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md" placeholder="Insert a rate">
		</div>
	</div>
  <br>
  <button type="sumbit" class="inline-flex items-center p-3 border border-transparent rounded-full shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
  <!-- Heroicon name: outline/plus-sm -->
  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
  </svg>
</button>


</form>  --}}

{{!-- THIRD IDEA --}}
<form action="/books/create" method="post"></form>
  <div class="bg-white py-16 px-4 overflow-hidden sm:px-6 lg:px-8 lg:py-24">
    <div class="relative max-w-xl mx-auto">
      <svg class="absolute left-full transform translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
        <defs>
          <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
      </svg>
      <svg class="absolute right-full bottom-0 transform -translate-x-1/2" width="404" height="404" fill="none" viewBox="0 0 404 404" aria-hidden="true">
        <defs>
          <pattern id="85737c0e-0916-41d7-917f-596dc7edfa27" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
          </pattern>
        </defs>
        <rect width="404" height="404" fill="url(#85737c0e-0916-41d7-917f-596dc7edfa27)" />
      </svg>
      <div class="text-center">
        <h2 class="text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Crear un nuevo libro </h2>
        <p class="mt-4 text-lg leading-6 text-gray-500">Compartenos tu experiencia con el libro</p>
      </div>
      <div class="mt-12">
        <form action="#" method="POST" class="grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
          <div>
            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
            <div class="mt-1">
              <input type="text" name="title" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
          </div>
          <div class="sm:col-span-2">
            <label for="author" class="block text-sm font-medium text-gray-700">Author</label>
            <div class="mt-1">
              <input type="text" name="author" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
                    <div class="sm:col-span-2">
            <label for="rating" class="block text-sm font-medium text-gray-700">Rate</label>
            <div class="mt-1">
              <input type="text" name="rating" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border-gray-300 rounded-md">
            </div>
          </div>
          <div class="sm:col-span-2">
            <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
            <div class="mt-1">
              <textarea id="message" name="description" rows="4" class="py-3 px-4 block w-full shadow-sm focus:ring-indigo-500 focus:border-indigo-500 border border-gray-300 rounded-md"></textarea>
            </div>
          </div>
          <div class="sm:col-span-2">
            <button type="submit" class="w-full inline-flex items-center justify-center px-6 py-3 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Crear Libro</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</form>